$main-font: "acumin-pro", sans-serif;
$head-fonts: "crayonette-djr", sans-serif;;

//colour variables 
$blue: #6D9F71;
//@at-root: #FCDB5B;
$yellow: #A6A2D0;

$white: #F8F4E4;
$red: #E93F33;
$black: #252525;


* {
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p, a, li {
    color: $black;
}
h1 {
   font-family: $head-fonts;
   font-size: 48px;
   margin-bottom: 1rem;
   padding-top: 15px;
   
}

h4 {
        margin-bottom: .5rem;
}

h6 {
   font-size: 12px;
}



body {
    font-family: $main-font;
    background-color: $white;
   
}
nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        #logo {
                width: 20%;
                padding-left: 15px;
                padding-top: 15px;
                padding-bottom: 15px;
        }
        h1 {
                width: 60%;
        }
}

#toolbar-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100vw;

        #toolbar {
                padding: 1rem;
                margin-bottom: 1rem;
                background-color: $blue;
                width: 80%;
                display: flex;
                #search-input {
                                   border: none; 
                                   font-size: 18px;
                                   font-family: $main-font;
                                   width: 50%;
                                   background-color: $white;
                                   color: $black;
                                   padding-left: 10px;
                                
                                }
                                #search-button {
                                        font-size: 25px; 
                                        color: $white;
                                        padding-left: 1rem;
                                  
                                      }
                                #search-button:hover {
                                        font-size: 30px; 
                                        top: 16%;
                                }
                                #filter-btn{
                                        font-size: 25px; 
                                        color: $white;
                                        
                                }
                                #filter-wrapper {
                                        display: flex;
                                        align-items: center;
                                        width: 10%;
                                        margin-left: 2rem;
                                        h6 {
                                                padding-right: 5px;
                                                color: $white;
                                            }
                                        }
                 }
        #filter-options {
                width: 80%;
                padding: 1rem;
                margin-bottom: 1rem;
                background-color: #337357;
                visibility: hidden;
                height: 0;
                position: absolute;
                border-top: 1px solid $white;

                h4, li {
                color: $white;
                }
                h4 {
                        margin-bottom: 1rem;
                        padding-bottom: 0.5rem;
                        border-bottom: 1px solid $white;
                }
                ul {
                        display: flex;
                        flex-wrap: wrap;
                        list-style: none;
                        padding: 0;
                        li {
                                width: fit-content;
                                padding: .5rem;
                                background-color: $yellow;
                                margin-bottom: 1rem;
                                margin-right: 1rem;
                                cursor: pointer;
                        }

                        li:hover{
                                background-color: $red;
                        }
                }
                
        }

        #filter-options.active{
                visibility: visible;
                height: auto;
                position: relative;
                top: -1rem;
        }
  }

                



#result {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
               
        img {
           width: 100%;
        }
        h2 {
        padding-left: 30px;
        font-family: $head-fonts;
        font-size: 30px;

        }
        #news-wrapper {
                border-bottom: 1px solid $blue;
                padding-bottom: 1.3rem;
                width: 100%;
                height: auto;

               #article-detail {
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 15px;
                padding-bottom: 15px;
                background-color: $blue;
                max-height: 15rem;
                overflow: scroll;
             
                 p {
                    color: $white;
                 }
               
               }
               

        }
        #news-wrapper #text-wrapper{
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 15px;
                padding-bottom: 15px;
                
             
                height: auto;
                background-color: $yellow;

                p{
                        margin-bottom: .5rem;
                }
                .bi-chevron-down{
                        font-size: 20px;
                        position: relative;
                        top: 5px;
                        left: 5px;

                }
        }

}

footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: $blue;

        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 10px;

        #footer-nav {
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
        }
    
        #logo {
                width: 20%;
        }

        ul {
                list-style: none;
                a {
                        color: $white;
                }
                li {
                        color: $white;

                }
        }
}